
// Borders
$laravel-border-color: none;
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$border: 2px solid #ffffff;

// Brands
$brand-primary: #5CCCC8; //#2EDFC7
$brand-accent: #ffffff;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Body
$body-bg: $brand-primary;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Josefin Sans', sans-serif;
$font-family-body: 'Open Sans', sans-serif;
$font-family-logo: 'Barrio', cursive;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $brand-accent;

// Navbar
$navbar-default-bg: $body-bg;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: $brand-accent;
$input-border-focus: $brand-accent;
$input-color-placeholder: $brand-accent;

// Panels
$panel-default-heading-bg: $brand-primary;
