
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Barrio');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootstrap custom changes
.container {
	width: 90%;
	padding: 0;
}

.panel {
	background-color: $brand-primary;
	border: $border;
	border-radius: 0px;
	font-weight: 700;
	font-style: italic;

	button {
		height: 50px;
	}
}

.panel-default > .panel-heading {
	color: $text-color;
	font-size: 20px;
}

.btn-primary {
	border: $border;
	border-radius: 0px;
	background-color: $brand-primary;
	font-weight: 700;
	font-style: normal;
	color: $brand-accent;
	&:hover {
		border-color: $brand-accent;
		background-color: $brand-primary;
		color: $brand-accent;
	}
}

.btn-link {
	color: $brand-accent;
	&:hover {
		color: $brand-accent;
	}
}

.form-control {
    background-color: $brand-primary;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: $text-color;
    font-family: $font-family-body;
    font-weight: 400;
    font-style: normal;
    height: 50px;
    &:focus {
    	box-shadow: none;
    }
}

.select-dropdown {
	background-color: $brand-primary !important;
	font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    padding: 0;    
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: $brand-primary !important;
	font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: none;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    height: 150px;
    margin: 0px;
}

.navbar-default .navbar-brand {
	color: $text-color;
	font-family: $font-family-sans-serif;
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	&:hover {
		color: $text-color;
	}
}

.navbar-default .navbar-nav > li > a {
	color: $text-color;
	font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
	&:hover {
		color: $text-color;
	}
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: $text-color;
	background-color: $brand-primary;
}

.dropdown-menu {
	background-color: $brand-primary;
	border: $border;
	border-radius: 0px;
	box-shadow: none;
	padding: 0;
}

.dropdown-menu > li > a {
	color: $text-color;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	&:hover {
		color: $brand-primary;
		background-color: $brand-accent;
	}
}

// Normal styles
body {
	background-color: $brand-primary;
	-webkit-font-smoothing: subpixel-antialiased;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-sans-serif;
	font-weight: 700;
	font-style: italic;
}

@keyframes levitate {
    0% {
     transform: translateY(0);
    }

    100% {
    transform: translateY(-20px);
    }
}

.hero {
	background-color: #ffffff;
	width: 100%;
	height: 600px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin-bottom: 200px;
}

.hero-background {
	background-color: #ffffff;
	background-image: url('https://images-na.ssl-images-amazon.com/images/I/81KKiiVaaoL._SL1500_.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 600px;
	margin-top: 380px;
	animation: levitate 1.2s alternate ease-in-out infinite;
}

.hero-overlay {
	width: 100%;
	height: 600px;
	background-color: $brand-primary;
	opacity: 0.8;
	position: absolute;
}

.fade-overlay {
	width: 100%;
	height: 100px;
	position: absolute;
	align-self: flex-end;
	background: linear-gradient(to top, $brand-primary 10%, rgba(0, 0, 0, 0));
}

.hero-content {
	width: 90%;
	height: 600px;
	/*background-color: red;*/
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	.hero-content-top {
		/*background-color: blue;*/
		margin-top: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
	}

	.hero-content-bottom {
		/*background-color: pink;*/
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		.logo-slogan {
			/*background-color: red;*/

			.logo {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				/*background-color: blue;*/
				border: 4px solid $brand-accent;
				width: 400px;
				height: 80px;
				font-size: 46px;
				margin-bottom: 40px;

				p {
					margin: 0;
					font-family: $font-family-logo;
				}
			}
		}
	}
}

.body-content {
	width: 90%;
	/*background-color: red;*/
	align-self: center;

	p {
		font-family: $font-family-body;
		font-weight: 400;
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.body-section {
	width: 50%;
	margin-bottom: 200px;
}

.signup-form {
	width: 100%;

	button {
		margin-top: 10px;
		width: 100%;
		height: 50px;
		transition: .2s ease-in-out;
		color: $brand-accent !important;
		&:hover {
			
		}
		&:active {
			border: $border !important;
			outline: 0 !important;
		}
		&:focus {
			background: none !important;
			border: $border !important;
			box-shadow: none !important;
			outline: 0 !important;
		}
	}
}

.subsciption-box {
	width: 100%;
	height: auto;
	border: 2px solid $brand-primary;
	margin-bottom: 50px;

	.subsciption-box-info {
		/*background-color: red;*/
		padding: 40px;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			h3 {
				/*background-color: blue;*/
				margin: 0;
				margin-bottom: 5px;
			}
		}
	}

	.subsciption-box-images {
		background-color: #ffffff;
		overflow: hidden;
		/*height: 298px;*/

		ul {
			list-style: none;
			margin: 0 -2px -2px 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			li {
				border-right: 2px solid $brand-primary;
				border-bottom: 2px solid $brand-primary;
				width: 300px;
				height: 300px;
				flex: 1 1 auto;
				background-color: #ffffff;
				background-size: 80%;
				background-repeat: no-repeat;
				background-position: center;
			}
		}	
	}
}

.footer {
	width: 100%;
	height: 50px;
	/*background-color: black;*/
	align-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		color: $brand-accent;
	}
}

.promotion-box {
	width: 100%;
	height: auto;
	border: 2px solid $brand-accent;
	margin-bottom: 50px;
	padding: 20px;
	h3 {
		margin-top: 0;
		text-transform: uppercase;
	}
	h4 {
		text-transform: uppercase;
	}
	h5 {
		text-transform: uppercase;
	}
	input {
		width: 100%;
		font-family: $font-family-sans-serif;
		font-weight: 700;
		font-style: italic;
		text-transform: uppercase;
		font-size: 18px;
		background-color: $brand-primary;
		border: none;
		outline: 0;
		padding: 0;
	}
	textarea {
		width: 100%;
		height: 120px;
		background-color: $brand-primary;
		border: none;
		outline: 0;
		padding: 0;
	}
	
	.brand {
		margin-top: 20px;
		.brand-image {
			overflow: hidden;
			width: 100%;
			height: 200px;
			background-color: #ffffff;
			background-size: 25%;
			background-repeat: no-repeat;
			background-position: center;
			margin-bottom: 20px;
		}
		p {
			height: 120px;
		}
	}
}

// Responsive styles

// Smartphones
@media screen and (max-width: 414px) {
	h4 {
		line-height: 1.6;
	}
	.hero {
		margin-bottom: 150px;
	}
	.hero-background {
		margin-top: 320px;
		background-size: initial;
	}
	.hero-content .hero-content-bottom .logo-slogan {
		/*margin-top: -150px;*/
		h1 {
			line-height: 1.6;
		}
	}
	.hero-content .hero-content-bottom .logo-slogan .logo {
		width: 100%;
	    height: 65px;
	    font-size: 34px;
	    margin-bottom: 0px;
	}
	.logo-slogan {
		h1 {
			font-size: 28px;
		}
		h4 {
			font-size: 14px;
		}
	}
    .body-section {
	    width: 100%;
	    margin-bottom: 150px;
	}
	.subsciption-box .subsciption-box-info {
		padding: 20px;
	}
	.subsciption-box .subsciption-box-images ul li {
		width: 300px;
		height: 300px;
	}
}

// Tablets

@media screen and (max-width: 1024px) {
	.body-section {
	    width: 100%;
	}
}



